doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
  body
    h1 メッセージを保存
    form(action="update" method="POST" encType="multipart/form-data")
      div
        textarea(placeholder="メッセージ" name="message")
      div
        input(type="file" name="image")
      div
        button(type="submit")
