doctype html
html(lang="ja")
  head
    meta(charset="utf=8")
  body
    h1 新規登録
    form(action="/signin" method="POST" encType="multipart/form-data")
      div
        input(type="text" name="username" placeholder="名前")
      div
        input(type="password" name="password" placeholder="パスワード")
      div
        input(type="file" name="avatar")
      div
        button(type="submit") 送信